* {
    background-color: black;
    margin: 0px;
}

.cobraDefault {
    background-color: blue;
    position: absolute;
    z-index: 2;
    border: solid 1px white;
}

#verticalCobra {
    background-color: yellow;
    position : absolute;
    z-index : 2;
}

#food {
    position : absolute;
    width : 10px;
    height : 10px;
    border: solid 1px white;    
    background-color:white;
    left : 547.942px;
    z-index: 1;
}